<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgdevelop.tragosapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- El atributo name se refiere a la clase principal que herede de Application()
    y en este caso la clase que hereda este mismo es BaseApplication, entonces lo que significa
    que apenas se inicie nuestra aplicacion lo primero que va a mandar a llamar es a esta clase
    denominada BaseApplication
     -->
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>